# # Importando o Pandas

In [1]:
import pandas as pd

# # Criando `Series`

## # A partir de uma lista do Python

In [5]:
dados_serie_1 = ['a', 'b', 'c', 'd']

serie_1 = pd.Series(dados_serie_1, name='letras')

serie_1

0    a
1    b
2    c
3    d
Name: letras, dtype: object

## # A partir de um dicionário do Python

In [6]:
dados_serie_2 = {'a': 100,
                 'b': 200,
                 'c': 300}

serie_2 = pd.Series(dados_serie_2)

serie_2

a    100
b    200
c    300
dtype: int64

## # A partir de um Array NumPy

In [7]:
import numpy as np

dados_serie_3 = np.array([1.5, 2.5, 3.5])
serie_3 = pd.Series(dados_serie_3)

serie_3

0    1.5
1    2.5
2    3.5
dtype: float64

# # Atributos e métodos de `Series`

## # Informações básicas(meta dados)

In [ ]:
print('Tipo dos dados:', serie_1.dtype)

print('Dimensões:', serie_1.shape)

print('Número de elementos:', serie_1.size)

print('Indices da Serie:', serie_1.index)

print('Valores da Serie:', serie_1.values)

Tipo dos dados: object
Dimensões: (4,)
Número de elementos: 4
Indices da Serie: RangeIndex(start=0, stop=4, step=1)
Valores da Serie: ['a' 'b' 'c' 'd']

## # Métodos Estatísticos

In [ ]:
print('Número de valores não nulos:', serie_2.count())

print('Média(mean):', serie_2.mean())

print('Mediana(median):', serie_2.median())

print('Desvio padrão:', serie_2.std(), '\n')

print('Estatísticas gerais:\n--------------------')
print(serie_2.describe())

Número de valores não nulos: 3
Média(mean): 200.0
Mediana(median): 200.0
Desvio padrão: 100.0

Estatísticas gerais:
--------------------
count      3.0
mean     200.0
std      100.0
min      100.0
25%      150.0
50%      200.0
75%      250.0
max      300.0
dtype: float64

## # Manipulacão de dados

In [99]:
dados_serie_4 = [1, None, 3, 4, 5]

serie_4 = pd.Series(dados_serie_4)

print(serie_4.dropna(), '\n')        # Remove valores NaN
print(serie_4.fillna(0), '\n')       # Substitui NaN por 0
print(serie_4.fillna(0).astype(int)) # Converte tipo

0    1.0
2    3.0
3    4.0
4    5.0
dtype: float64

0    1.0
1    0.0
2    3.0
3    4.0
4    5.0
dtype: float64

0    1
1    0
2    3
3    4
4    5
dtype: int64

# # Criando `DataFrames`

## # A partir de um dicionário de listas

In [100]:
dados_df_1 = {
    'Nome': ['Ana', 'Bruno', 'Carlos'],
    'Idade': [25, 30, 35],
    'Salário': [3000, 4000, 5000]
}

df_1 = pd.DataFrame(dados_df_1)

df_1

     Nome  Idade  Salário
0     Ana     25     3000
1   Bruno     30     4000
2  Carlos     35     5000

## # A partir de uma lista de dicionários

In [101]:
dados_df_2 = [
    {'Nome': 'Ana', 'Idade': 25, 'Salário': 3000},
    {'Nome': 'Bruno', 'Idade': 30, 'Salário': 4000},
    {'Nome': 'Carlos', 'Idade': 35, 'Salário': 5000}
]

df_2 = pd.DataFrame(dados_df_2)

df_2

     Nome  Idade  Salário
0     Ana     25     3000
1   Bruno     30     4000
2  Carlos     35     5000

## # A partir de um Array NumPy

In [102]:
dados_df_3 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])

df_3 = pd.DataFrame(dados_df_3, columns=['A', 'B', 'C'])

df_3

    A   B   C
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

# # Atributos e métodos de `DataFrames`

## # Informações básicas(meta dados)

In [ ]:
print('Informações gerais:\n-------------------')
print(df_1.info(), '\n')

print('Dimensões:', df_1.shape, '\n')

print('Rótulos/Índices das colunas:', df_1.columns, '\n')

print('Índices das linhas:', df_1.index, '\n')

print('Tipos dos dados de cada coluna:\n-------------------------------')
print(df_1.dtypes)

Informações gerais:
-------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nome     3 non-null      object
 1   Idade    3 non-null      int64
 2   Salário  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
None

Dimensões: (3, 3)

Rótulos/Índices das colunas: Index(['Nome', 'Idade', 'Salário'], dtype='object')

Índices das linhas: RangeIndex(start=0, stop=3, step=1)

Tipos dos dados de cada coluna:
-------------------------------
Nome       object
Idade       int64
Salário     int64
dtype: object

## # Métodos Estatísticos

In [117]:
print('Estatísticas gerais:\n--------------------')
print(df_1.describe(), '\n')

print('Média da coluna "Idade":', df_1['Idade'].mean(), '\n')

print('Soma da coluna "Salário":', df_1['Salário'].sum(), '\n')
print('Contagem de valores únicos da coluna "Idade":')
print(df_1['Idade'].value_counts())

Estatísticas gerais:
--------------------
       Idade  Salário
count    3.0      3.0
mean    30.0   4000.0
std      5.0   1000.0
min     25.0   3000.0
25%     27.5   3500.0
50%     30.0   4000.0
75%     32.5   4500.0
max     35.0   5000.0

Média da coluna "Idade": 30.0

Soma da coluna "Salário": 12000

Contagem de valores únicos da coluna "Idade":
Idade
25    1
30    1
35    1
Name: count, dtype: int64

## # Manipulação de dados

In [122]:
df_4 = pd.DataFrame({
    'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniela'],
    'Idade': [25, 30, 35, 40],
    'Salário': [3000.50, 4000.25, 5000, None]
})

print(df_4.dropna(), '\n')        # Remove valores NaN
print(df_4.fillna(0), '\n')       # Substitui NaN por 0
print(df_4['Salário'].fillna(0).astype(int)) # Converte tipo

     Nome  Idade  Salário
0     Ana     25  3000.50
1   Bruno     30  4000.25
2  Carlos     35  5000.00

      Nome  Idade  Salário
0      Ana     25  3000.50
1    Bruno     30  4000.25
2   Carlos     35  5000.00
3  Daniela     40     0.00

0    3000
1    4000
2    5000
3       0
Name: Salário, dtype: int64