# # Importando o Pandas

In [1]:
import pandas as pd

# # Índices e rótulos em `Series`

## # Criando uma Series com Índice Padrão

In [2]:
serie_1 = pd.Series([10, 20, 30, 40])

serie_1

0    10
1    20
2    30
3    40
dtype: int64

## # Criando uma Series com Índices Personalizados

In [4]:
serie_2 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

serie_2

a    10
b    20
c    30
d    40
dtype: int64

## # Acessando Valores com Índices

In [7]:
print(serie_2['a'])  # Retorna 10
print(serie_2[0])    # Retorna 10 (funciona mesmo com índices personalizados)

10
10

/tmp/ipykernel_43220/1101270186.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(serie_2[0])    # Retorna 10 (funciona mesmo com índices personalizados)

## # Modificando Índices

In [8]:
serie_2.index = ['x', 'y', 'z', 'w']  # Muda os rótulos dos índices

serie_2

x    10
y    20
z    30
w    40
dtype: int64

## # Modificando Rótulo

In [9]:
serie_2.name = 'Números'

serie_2

x    10
y    20
z    30
w    40
Name: Números, dtype: int64

# # Índices e rótulos em `DataFrames`

## # Criando um DataFrame com Índice Padrão

In [13]:
df_1 = pd.DataFrame({
    'Nome': ['Ana', 'Bruno', 'Carlos'],
    'Idade': [25, 30, 35]
})

df_1

     Nome  Idade
0     Ana     25
1   Bruno     30
2  Carlos     35

## # Transformando uma coluna em índices

In [ ]:
df_1.set_index('Nome', inplace=True) # ou df_1 = df_1.set_index('Nome')

df_1

        Idade
Nome
Ana        25
Bruno      30
Carlos     35

## # Resetando os índices

In [ ]:
df_1.reset_index(inplace=True) # ou df_1 = df_1.reset_index()

df_1

     Nome  Idade
0     Ana     25
1   Bruno     30
2  Carlos     35

## # Renomeando rótulos de colunas

In [ ]:
df_1.rename(columns={'Nome': 'PrimeiroNome', 'Idade': 'Anos'}, inplace=True) # ou df_1 = df_1.rename(columns={'Nome': 'PrimeiroNome', 'Idade': 'Anos'})

df_1

  PrimeiroNome  Anos
0          Ana    25
1        Bruno    30
2       Carlos    35

## # Alterando os índices das linhas

In [18]:
df_1.index = ['a', 'b', 'c']

df_1

  PrimeiroNome  Anos
a          Ana    25
b        Bruno    30
c       Carlos    35